[package]
name = "ndarray_images"
version = "0.0.0"
edition = "2021"
description = "(De)serialize NDarrays to/from PNG"
license = "MIT"

[dependencies]
ndarray = "0.16.1"
num-traits = "0.2.19"
png = "0.17.16"
thiserror = "2.0.11"
